li(ng-repeat="event in filteredEvents | limitTo:3")
  .event(ng-click='eventClick(event)')
    .th(style='background:url("{{event.imageURL}}");background-size:cover;width:100%;height:175px')
      p {{event.title}}
      small {{event.timestamp.toLocaleString()}}