.secondary-nav
  ul.inline-list
    li
      a LOREM
    li
      a IPSUM
    li
      a DOLOR
.row
  .large-6.columns
    include _map
  .large-6.columns
    include _news
.secondary-nav
  h3 PORTFOLIO
include _portfolio


.modal(ng-show="isModalOpen")
  .darken(ng-click="isModalOpen = false")
  .modal-content
    .modal-label(ng-click="log(item)")
      p {{events.findWhere({selected:true}).title}}
    .row
      .news-info.large-4.columns
        .secondary-nav
          h4 #CHATTER
        ul.tweets
          li.tweet
            p Lorem ipsum dolor sit amet! #likeomg
            small Two Hours Ago
      .graph-info.large-8.columns
        graph(graph-nodes='events', graph-links="links")
        timelime#stock-history